.main{
    display: grid;
    grid-template-rows: min-content auto min-content;
    height: 100%;
}

.nav-div{
    display: grid;
    grid-template-columns: min-content auto;
}

.nav-index{
    z-index: 2;
}

@media only screen and(max-width: 600px) {
    .nav-index{
        z-index: -1;
    }
}