<div class="main">
  <div class="has-background-grey-darker has-text-grey-light">
    <app-header (navEventHander)="showNav()"></app-header>
  </div>
  <div class="nav-div is-mobile is-desktop m-0 p-0">
    <div class="m-0 p-0">
      <app-side-nav #sideNavComponent></app-side-nav>
    </div>

    <div
      class="grid-container-row-2-min-auto p-2 has-background-white-bis nav-index"
    >
      <div>
        <span class="is-size-3 m-0 p-0">Title</span>
        <div class="ml-1 mb-2" style="margin-top: -10px">
          <span class="is-size-7">Sub-Title</span>
        </div>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
