.nav-button{
    display: none;
}

.nav-icon-disable{
    display: block;
}

@media only screen and(max-width: 800px){
    .nav-button{
        display: block;
    }
}

@media only screen and(max-width: 500px){
    .nav-icon-disable{
        display: none;
    }
    
}