<div class="container p-2">
<div class="columns is-mobile is-desktop is-vcentered">
   <div class="column is-1 nav-button">

    <button class="button is-dark" (click)="navEvent()">
        <span class="icon">
          <i class="fa fa-bars"></i>
        </span>
        
      </button>
    
  </div>
  
    <div class="column is-1 nav-icon-disable">
        <figure class="image is-48x48">
            <img class="is-rounded" src="{{staticText.companyLogo}}">
          </figure>
    </div>
    <div class="column ml-1">
        <span class="is-size-5 is-v">{{staticText.companyName}}</span>
    </div>
    <div class="column is-2 has-text-right">
        <div class="dropdown is-right"  (mouseenter)="profileClick()" (mouseleave)="profileClick()" #profileMenu>
            <div class="dropdown-trigger image is-48x48 is-clickable">
                <img class="is-rounded" src="https://iconape.com/wp-content/png_logo_vector/avatar-3.png">
            </div>
            <div class="dropdown-menu has-text-left">
              <div class="dropdown-content has-background-white-ter">
                <a href="#" class="dropdown-item">
                    {{staticText.profileMenu.profile}}
                </a>
                <a href="#" class="dropdown-item">
                    {{staticText.profileMenu.settings}}
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                    {{staticText.profileMenu.logOut}}
                </a>
              </div>
            </div>
          </div>
    </div>
</div>
</div>