<footer>
    <div class="has-background-grey ">
        <div class="columns is-mobile is-desktop p-0 m-0 has-text-grey-lighter">
            <div class="column p-0 mx-2">
                <span class="is-size-7">&copy; {{staticText.copyRight}}  {{staticText.copyRightYear}}</span>   
            </div>
        <div class="column p-0 mx-3 has-text-right">
            <span class="is-size-7">{{staticText.otherText}}</span>
        </div>
        </div>
    </div>
  </footer>