<div
  class="h-100 columns m-0 p-0 is-mobile is-desktop is-vcentered is-centered"
>
  <div class="column has-text-centered">
    <span class="is-capitalized is-size-1">404</span>
    <br />
    <span class="is-uppercase"> Page not found </span>
    <br />
    <a routerLink="..">Go back</a>
  </div>
</div>
