<div class="main nav-style has-background-white-ter" (window:resize)="onResize($event)" #sideNavDiv>
  <div style="position: fixed; width: inherit;">
    <div>
      <div>
        <img #sideNavImg1
          src="../../../assets/images/dashboard/avatar-back.jpg"
          class="nav-img-style" 
        />
      </div>
      <div class="nav-profile-center w-100 nav-img-style" #sideNavImg2>
        <div class="columns m-0">
          <div class="column m-0 has-text-centered">
            <img
              class="image-shadow img-rounded"
              src="https://iconape.com/wp-content/png_logo_vector/avatar-3.png"
              width="96"
              height="96"
            />
          </div>
        </div>
        <div class="has-text-centered nav-text-dispaly" #textNav1 style="margin-top: -10px">
          <span class="has-text-white">Abhishek Raheja</span>
        </div>
      </div>
      <div class="nav-img-small" #sideNavSmall>
        <div class="columns m-0 p-0 is-vcentered">
          <div class="column has-text-centered">
            <img
              class="image-shadow img-rounded"
              src="https://iconape.com/wp-content/png_logo_vector/avatar-3.png"
            />
          </div>
        </div>
      </div>
    </div>




    <!-- Menu System -->
<div class="nav-text-dispaly" style="background-color: red;" #textNav2>
asdasdDSDSDSdsdsd
</div>
  </div>
  
</div>
