.main{
    height: 100%;
}
.nav-style{
    width: 280px;
    -webkit-transition: width 1s;
    transition: width .5s;
}
.nav-img-style{
    width: 280px;
    height: 150px;
    display: block;
    transition: width .5s;
}

.nav-img-small{
    display: none;
}

.nav-style-small{
    width: 280px;
    -webkit-transition: width 1s;
    transition: width .5s;
}

.nav-profile-center{
    z-index: 2;
    position: absolute;
    top: 0;
}


.img-rounded{
    border-radius: 50%;
}



.nav-style-mobile {
    width: 100%;
    position: fixed;
    -webkit-transition: width 1s;
    transition: width .5s;
}



.nav-text-dispaly{
    display: block;
}

@media only screen and(max-width: 800px){
    .nav-style{
        width: 50px;
        -webkit-transition: width 1s;
        transition: width .5s;
    }
    .nav-img-style{
        display: none;
        width: 100%;
        transition: width .5s;
    }
    .nav-img-small{
        display: block;
    }
}

@media only screen and(max-width: 600px) {
    .nav-style{
        width: 0px;
        -webkit-transition: width 1s;
        transition: width .5s;
    }
    .nav-img-style{
        display: block;
        transition: width .5s;
    }
    .nav-text-dispaly{
        display: none;
    }
}