.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.wh-100 {
  height: 100% !important;
  width: 100% !important;
}

.image-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container-row-2-min-auto {
  display: grid;
  grid-template-rows: min-content auto;
}
